.header {
  background-image: linear-gradient(to right, white, white, white, red, yellow, green, blue, indigo, violet);
  padding: 30px;
  text-align: center;
  
  
}
.fondiu{
	/*background-image:url(../img/logopueblos.png);*/
	height:50px;
	padding-top: 0px;
  padding-bottom: 0px;

}

/* Tamaño del logotipo */

.head img{
	  display:block;
    margin:left;
	  width:250px;
    height:110px;
    
}


    	
